# file/directory Python cache
__pycache__/
*.pyc
*.pyo
jars/

# file txt
readme.txt
ridme.txt

# venv
env/
venv/

#jdk
jdk/

.git/
.idea/
.venv/
dataset/backup/

.env
__pycache__/
*.pyc
.ipynb_checkpoints/

test_s3_connection.py